.bg{background-color: black;}
.content_up{background-color: black;}
.imgLogo{margin: 0 auto 0;padding:7% 0 0 0;display: block;width: 22%;max-width: 252px;position: relative;}
.carrucel{background-color: black;}
li{list-style: none; display: inline;}
.menu_carrusel .btn{background-color: transparent;font-size: 12px;font-family: 'montserratBold';background: black;width: auto;text-transform: none;--padding-start:6px;--padding-end:6px}
.menu_carrusel ul{padding: 0;text-align: center;margin-bottom: 60px;}
.menu_carrusel ul li button{font-size: 12px;color: #fff;}
.menu_carrusel ul li.selected button{font-size: 14px !important;transition: all .5s;}
.swiper-slide{display: block;padding:0 55px 0 35px;}
.slide{text-align: left;}
.links{font-family: montserratSemibold;font-size: 27px;padding:0;margin-bottom: 23px;}
.content_terminos_is{text-align: left;padding-left: 15px;margin-top: 100px;}
.links2{color: #666666;text-align: left;font-size: 15px;}