<ion-content>
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div style="color: white;">Aviso de Privacidad</div>
    </div>
  </div>
  <img alt="logo2" class="logo2" src="../../assets/images/logomenunegro.png">
  <br>
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: center; font: 9.0px Helvetica}
    p.p2 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 9.0px Helvetica}
    p.p3 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 9.0px Helvetica; min-height: 11.0px}
    p.p4 {margin: 0.0px 0.0px 8.0px 0.0px; font: 9.0px Helvetica; min-height: 11.0px}
    p.p5 {margin: 0.0px 0.0px 8.0px 0.0px; font: 9.0px Helvetica}
    p.p6 {margin: 0.0px 0.0px 8.0px 18.0px; text-align: justify; font: 9.0px Helvetica; min-height: 11.0px}
    p.p7 {margin: 0.0px 0.0px 8.0px 36.0px; text-align: justify; font: 9.0px Helvetica; min-height: 11.0px}
    p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 9.0px Helvetica; color: #ffffff}
    p.p9 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 9.0px Helvetica; color: #ffffff; min-height: 11.0px}
    p.p10 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 9.0px Helvetica}
    p.p11 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 9.0px Helvetica; min-height: 11.0px}
    p.p12 {margin: 0.0px 0.0px 0.0px 0.0px; font: 9.0px Helvetica}
    p.p13 {margin: 0.0px 0.0px 0.0px 0.0px; font: 9.0px Helvetica; min-height: 11.0px}
    p.p14 {margin: 0.0px 0.0px 8.0px 36.0px; font: 9.0px Helvetica; min-height: 11.0px}
    p.p15 {margin: 9.8px 0.0px 9.8px 0.0px; text-align: justify; font: 9.0px Helvetica}
    p.p16 {margin: 9.8px 0.0px 9.8px 0.0px; text-align: justify; font: 9.0px Helvetica; min-height: 11.0px}
    p.p18 {margin: 0.0px 0.0px 8.0px 35.4px; text-align: justify; font: 9.0px Helvetica}
    p.p19 {margin: 9.8px 0.0px 0.0px 0.0px; text-align: justify; font: 9.0px Helvetica}
    p.p20 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 10.0px Helvetica}
    p.p21 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 10.0px Helvetica; min-height: 12.0px}
    p.p22 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 11.0px Helvetica}
    p.p23 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 11.0px Helvetica; min-height: 13.0px}
    li.li2 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 9.0px Helvetica}
    li.li5 {margin: 0.0px 0.0px 8.0px 0.0px; font: 9.0px Helvetica}
    li.li17 {margin: 0.0px 0.0px 5.0px 0.0px; font: 9.0px Helvetica}
    span.s1 {text-decoration: underline}
    span.s2 {text-decoration: underline ; color: #0563c1}
    span.s3 {font: 9.0px Wingdings}
    span.s4 {font: 9.0px Symbol}
    span.Apple-tab-span {white-space:pre}
    table.t1 {border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9; border-collapse: collapse}
    table.t2 {width: 443.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9; border-collapse: collapse}
    td.td1 {width: 441.4px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9; padding: 0.0px 5.0px 0.0px 5.0px}
    td.td2 {width: 110.3px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9; padding: 0.0px 5.0px 0.0px 5.0px}
    td.td3 {width: 148.6px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9; padding: 0.0px 5.0px 0.0px 5.0px}
    td.td4 {width: 294.9px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9; padding: 0.0px 5.0px 0.0px 5.0px}
    ol.ol1 {list-style-type: upper-roman}
    ol.ol2 {list-style-type: lower-alpha}
    ol.ol3 {list-style-type: decimal}
    ul.ul1 {list-style-type: disc}
  </style>

<p class="p1"><b>AVISO DE PRIVACIDAD</b></p>
<p class="p1"><b>HOTEL<span class="Apple-converted-space"> </span></b></p>
<p class="p1"><b>THE XPERIENCE BY G</b></p>
<p class="p2">A fin de proporcionar seguridad, confianza y tranquilidad a todos nuestros usuarios, <b>XP HOTELS OPERADORA, S. A. P. I. DE C. V.,</b> también conocida comercialmente como “<b>THE XPERIENCE BY G</b>” o “<b>XP by G</b>”, (en lo sucesivo<span class="Apple-converted-space">  </span>“Hotel”, “THE XPERIENCE BY G” o “XP by G” indistintamente) se compromete a proteger su privacidad, poniendo a su disposición para tales efectos, el siguiente <span class="s1"><b>AVISO DE PRIVACIDAD INTEGRAL</b></span>, el cual se apega a los lineamientos que al efecto dispone la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, mismo que es aplicable a la página de internet <a href="http://www.thexperience.com.mx"><span class="s2">www.thexperience.com.mx</span></a> y en general aplicable a todos los servicios que oferta al público en general; y al respecto le informamos lo siguiente:</p>
<p class="p3"><br></p>
<p class="p2"><span class="s1"><b>DOMICILIO DEL RESPONSABLE<span class="Apple-converted-space"> </span></b></span></p>
<p class="p2"><b>THE XPERIENCE BY G,</b> cuenta con sus instalaciones ubicadas en la Avenida Camarón Sábalo número 1518 mil quinientos dieciocho, colonia Sábalo Country Club, ciudad de Mazatlán, en la entidad federativa de Sinaloa, México, C.P. 82100 ochenta y dos mil cien, domicilio facultado para oír y recibir cualquier tipo de notificaciones sobre el tratamiento de sus datos personales.</p>
<p class="p3"><span class="s1"><b></b></span><br></p>
<p class="p2"><span class="s1"><b>RESPONSABLE DEL TRATAMIENTO DE SUS DATOS PERSONALES</b></span></p>
<p class="p2">Se hace de su conocimiento que además de la responsabilidad de <b>THE XPERIENCE BY G</b>, sobre el tratamiento de sus datos personales, el encargado de cuidar y utilizar dicha información para los fines que en adelante se señalan en el presente documento, se encuentra en el domicilio que se señala en el apartado que antecede, mismo que podrá contactar en las siguientes direcciones de teléfono o correo electrónico:</p>
<p class="p2"><b>Teléfono: 33 3121 2647, extensión 1007, (área corporativa).</b></p>
<p class="p2"><b>Correo electrónico: privacidad@thexperience.com.mx</b></p>
<p class="p2">De igual manera todos los aliados comerciales del Hotel incluidos SKY BAR EXPERIENCE, S. DE R. L. DE C. V., MEX PARTHNERSHIPS, S. A. P. I. DE C. V., y HOTEL THE XP, S. A. DE C. V., comercialmente conocidos como “SEREIA BY G”, “COMITÉ BY G, y QUICK &amp; FIT BY G, respectivamente, son corresponsables del tratamiento de sus datos personales en caso de que, y de acuerdo a lo establecido en el presente acuerdo, haya intercambio de información. Por lo que se invita a los usuarios a leer detenidamente el presente Aviso de Privacidad, mismo que se redacta de manera detallada, clara y específica para su mejor comprensión y conocimiento.</p>
<p class="p4"><span class="s1"><b></b></span><br></p>
<p class="p5"><span class="s1"><b>FINES DE LOS DATOS PERSONALES</b></span></p>
<ol class="ol1">
  <li class="li5"><b>I.<span class="Apple-tab-span">	</span>Finalidades indispensables para el cumplimiento de la relación comercial.</b></li>
</ol>
<ul class="ul1">
  <li class="li2"><span class="s3"><span class="Apple-tab-span">	</span></span><span class="s1"><b>Previo a la reserva:</b></span></li>
</ul>
<p class="p6"><span class="s1"></span><br></p>
<ul class="ul1">
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para poder realizar la prospección comercial de los interesados en obtener los servicios ofertados por <b>THE XPERIENCE BY G.</b></li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para verificar y confirmar la identidad de los usuarios que utilizan los servicios de <b>THE XPERIENCE BY G, </b>así como comprobar la veracidad de los datos proporcionados.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para poder realizar reservaciones de los servicios ofertados por <b>THE XPERIENCE BY G,</b> en cualquier medio.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para emitir los comprobantes fiscales que respalden las operaciones comerciales entre el cliente y <b>THE XPERIENCE BY G.</b></li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para entablar comunicación con los clientes, y en su caso, enviar información relativa a la relación comercial sostenida con <b>THE XPERIENCE BY G.</b></li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para enviarle información y documentación relacionada con la reserva de los servicios del Hotel.</li>
</ul>
<p class="p6"><span class="s1"></span><br></p>
<ul class="ul1">
  <li class="li2"><span class="s3"><span class="Apple-tab-span">	</span></span><span class="s1"><b>Durante su estancia en el hotel:</b></span></li>
</ul>
<p class="p6"><span class="s1"></span><br></p>
<ul class="ul1">
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para conformar un expediente administrativo que permita a <b>THE XPERIENCE BY G</b> realizar todas las diligencias y gestiones relacionadas con el servicio al cliente.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para elaborar papelería y objetos personalizados que incidan en la experiencia del cliente dentro del hotel.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para permitir el acceso a las instalaciones en las que se encuentra ubicado <b>THE XPERIENCE BY G.</b></li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para garantizar la seguridad en la estancia de los clientes en las instalaciones de<b> THE XPERIENCE BY G.</b></li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para proveer los productos y servicios que ofrece <b>THE XPERIENCE BY G</b>, así como actividades afines</li>
</ul>
<p class="p6"><span class="s1"></span><br></p>
<ul class="ul1">
  <li class="li2"><span class="s3"><span class="Apple-tab-span">	</span></span><span class="s1"><b>Después de haber alojado en las instalaciones del hotel:</b></span></li>
</ul>
<p class="p7"><br></p>
<ul class="ul1">
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para conformar un expediente y perfil único de cliente, mediante el cual pueda personalizarse el servicio que <b>THE XPERIENCE BY G </b>le ofrezca, en cada reincidencia en el uso del servicio puesto a su disposición.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para mejorar el control y realización de los procesos subsecuentes del servicio, así como tener una referencia de su estancia y perfeccionar las futuras visitas como clientes a las instalaciones del Hotel.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para tramitar y resolver cualquier petición de aclaración, reclamación o incidencia que al respecto los clientes tengan, de los servicios ofrecidos por el Hotel.</li>
</ul>
<p class="p7"><br></p>
<ul class="ul1">
  <li class="li2"><span class="s3"><span class="Apple-tab-span">	</span></span><span class="s1"><b>Para el uso de redes sociales del Hotel:</b></span></li>
</ul>
<p class="p6"><span class="s1"></span><br></p>
<ul class="ul1">
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para administrar los comentarios, observaciones u opiniones que haga del Hotel en plataformas como Facebook, Instagram, Twitter, YouTube, Tik Tok, Pinterest, entre otras.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para compartir información del Hotel, relativa a las reservaciones, estancia o inclusive promociones propias del Hotel.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para eliminar información compartida en las redes sociales del Hotel que no se adapten a las políticas de privacidad establecidas en el presente Aviso, inclusive aquella que atente contra el prestigio del Hotel, teniendo la posibilidad de restringir el uso de las redes sociales en caso de encontrarse en este supuesto.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Establecer estadísticas de medición, comparación y referencia del impacto y uso que las redes sociales de <b>THE XPERIENCE BY G</b> tienen.</li>
</ul>
<p class="p7"><br></p>
<p class="p2">XP HOTELS OPERADORA, S. A. P. I. DE C. V., así como ninguno de sus aliados comerciales, serán responsables del contenido que publiquen los usuarios o clientes, en las redes sociales del Hotel, por lo que los usuarios deberán de limitarse a no compartir información concerniente a datos personales de terceras personas o los suyos, pues de publicar alguna información de las señaladas en este párrafo, serán los únicos responsables de las sanciones que al efecto señala la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, por lo que todo el público en general deberá de abstenerse de transmitir dicha información.</p>
<p class="p7"><br></p>
<ol class="ol1">
  <li class="li5"><b>II.<span class="Apple-tab-span">	</span>Finalidades NO indispensables para el cumplimiento de la relación comercial.</b></li>
</ol>
<p class="p2">Además de las finalidades previamente establecidas, <b>THE XPERIENCE BY G</b>, utilizará su información personal para los siguientes objetivos secundarios que no son necesarios para el servicio solicitado, pero que permiten y facilitan brindarle una mejor atención:</p>
<ul class="ul1">
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Ofrecerle mercadotecnia, publicidad y prospección comercial, respecto de los servicios que ofrezca <b>THE XPERIENCE BY G</b>, así como sus aliados comerciales.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Remitir promociones de otros bienes o servicios relacionados con los contratados previamente con <b>THE XPERIENCE BY G</b>, o sus aliados.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Para realizar análisis estadísticos, de generación de modelos de información y/o perfiles de comportamiento actual y predictivo.</li>
  <li class="li2"><span class="s4">•<span class="Apple-tab-span">	</span></span>Participar en encuestas, sorteos y promociones que establezca <b>THE XPERIENCE BY G</b>.</li>
</ul>
<p class="p7"><br></p>
<p class="p2">En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, deberá indicarlo mediante el procedimiento que se señala en el apartado de “ejercicio de derechos A.R.C.O.” del presente Aviso de Privacidad.</p>
<p class="p2">La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros. Sin embargo, si usted no marca ninguna de las casillas previamente establecidas, se dará por entendido que da consentimiento al Hotel de utilizar sus datos personales para dichas finalidades.</p>
<p class="p4"><span class="Apple-converted-space"> </span></p>
<p class="p5"><span class="s1"><b>DATOS PERSONALES QUE SE UTILIZARAN<span class="Apple-converted-space"> </span></b></span></p>
<p class="p2">Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>
<p class="p3"><br></p>
<table cellspacing="0" cellpadding="0" class="t1">
  <tbody>
    <tr>
      <td valign="top" class="td1">
        <p class="p8"><b>Datos personales que recabaremos</b></p>
        <p class="p9"><b></b><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p10">Nombre completo</p>
      </td>
      <td valign="top" class="td2">
        <p class="p10">Lugar de Nacimiento</p>
      </td>
      <td valign="top" class="td2">
        <p class="p10">Fecha de nacimiento</p>
      </td>
      <td valign="top" class="td2">
        <p class="p10">Clave única de Registro de Población (CURP)</p>
        <p class="p11"><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p12">Domicilio</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Teléfono particular fijo</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Teléfono celular</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Correo electrónico</p>
        <p class="p11"><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p12">Teléfono institucional</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Fotografía</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Firma autógrafa</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Domicilio de trabajo</p>
        <p class="p11"><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p10">Registro Federal de Contribuyentes (RFC)</p>
        <p class="p13"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Cuentas bancarias</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Número de tarjetas de crédito</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p12">Pasatiempos</p>
        <p class="p11"><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p12">Juegos de su interés</p>
        <p class="p11"><br></p>
      </td>
      <td valign="top" class="td2">
        <p class="p10">Ocupación<span class="Apple-converted-space"> </span></p>
      </td>
      <td valign="top" class="td2">
        <p class="p10">Dirección de redes sociales</p>
      </td>
      <td valign="top" class="td2">
        <p class="p10">Dirección IP y variables para mantener la sesión de navegación a través de cookies</p>
      </td>
    </tr>
  </tbody>
</table>
<p class="p3"><br></p>
<p class="p2">Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente Aviso de Privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial protección:</p>
<ul class="ul1">
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Estado de salud físico presente, pasado o futuro.</li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Tipo de sangre.</li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Alergias.</li>
</ul>
<p class="p4"><br></p>
<p class="p5"><span class="s1"><b>ALIADOS COMERCIALES CON QUIEN SE COMPARTIRÁ INFORMACIÓN</b></span></p>
<p class="p2">XP HOTELS OPERADORA, S. A. P. I. DE C. V., mantiene alianzas comerciales con aliados que complementan los servicios ofertados dentro del Hotel, por lo que de hacer uso de los servicios o de existir información, a discreción de THE XPERIENCE BY G, atractiva para sus intereses, sus datos personales pudieran ser compartidos dentro del país con las siguientes personas, empresas, organizaciones o autoridades distintas a nosotros, para los siguientes fines:</p>
<table width="443.5" cellspacing="0" cellpadding="0" class="t2">
  <tbody>
    <tr>
      <td valign="top" class="td3">
        <p class="p8"><b>Destinatario de los datos personales</b></p>
      </td>
      <td valign="top" class="td4">
        <p class="p8"><b>Finalidad</b></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td3">
        <p class="p12"><b>SKY BAR EXPERIENCE, S. DE R. L. DE C. V.</b></p>
      </td>
      <td valign="top" class="td4">
        <p class="p10">Ofertar mercadotecnia, publicidad y prospección comercial.</p>
        <p class="p10">Emitir los comprobantes fiscales que respalden las operaciones comerciales.</p>
        <p class="p11"><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td3">
        <p class="p12"><b>HOTEL THE XP, S. A. DE C. V.</b></p>
      </td>
      <td valign="top" class="td4">
        <p class="p10">Ofertar mercadotecnia, publicidad y prospección comercial.</p>
        <p class="p10">Emitir los comprobantes fiscales que respalden las operaciones comerciales.</p>
        <p class="p11"><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td3">
        <p class="p12"><b>MEX PARTHNERSHIPS, S. A. P. I. DE C. V.</b></p>
      </td>
      <td valign="top" class="td4">
        <p class="p10">Ofertar mercadotecnia, publicidad y prospección comercial.</p>
        <p class="p10">Emitir los comprobantes fiscales que respalden las operaciones comerciales.</p>
        <p class="p11"><br></p>
      </td>
    </tr>
  </tbody>
</table>
<p class="p4"><br></p>
<p class="p2">Con relación a las transferencias que se establecen anteriormente, si usted no manifiesta su negativa para no autorizar el traspaso de información, entenderemos que ha otorgado el consentimiento para transferir los datos y darle el tratamiento necesario para cumplir las finalidades de igual manera establecidas.</p>
<p class="p2">Asimismo, <b>THE XPERIENCE BY G</b>, le informa que podrá compartir o transferir sus datos personales sin necesidad de que medie su consentimiento de por medio, a terceros mexicanos o extranjeros cuando se presenten los siguientes supuestos:<span class="Apple-converted-space"> <span class="Apple-tab-span">	</span></span></p>
<ol class="ol1">
  <li class="li2"><b>I.<span class="Apple-tab-span">	</span></b>Esté prevista en una Ley o Tratado de los que México sea parte;</li>
  <li class="li2"><b>II.<span class="Apple-tab-span">	</span></b>Sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre XP HOTELS OPERADORA, S. A. P. I. DE C. V. y el titular.<span class="Apple-converted-space"> </span></li>
  <li class="li2"><b>III.<span class="Apple-tab-span">	</span></b>Sea con base en los demás supuestos establecidos en el Artículo 37 de la Ley Federal de Datos Personales en Posesión de los Particulares, casos en los que como así lo establece dicho artículo, no será necesaria la obtención de su consentimiento.</li>
  <li class="li2"><b>IV.<span class="Apple-tab-span">	</span></b>Sea precisa para el envío de sus datos a Banco de México para el dictamen de billetes presuntamente falsos, con porciones faltantes, entre otros, en cumplimiento a la Circular de Operaciones de Caja de Banco de México y de los artículos 19 y 20 de la Ley Monetaria de los Estados Unidos Mexicanos, o aquellos que los lleguen a substituir.</li>
  <li class="li2"><b>V.<span class="Apple-tab-span">	</span></b>Sea un requerimiento oficial por cualquier autoridad nacional ya sea municipal, estatal o federal; inclusive organismos internacionales con los que los México tenga firmado un acuerdo o tratado, que lo faculte para solicitar dicha información.</li>
</ol>
<p class="p4"><br></p>
<p class="p5"><span class="s1"><b>EJERCICIO DE DERECHOS ARCO</b></span></p>
<p class="p2">Usted o su representante legal debidamente acreditado, tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>
<p class="p2">Cuando procedan, los derechos de Acceso, Rectificación, Cancelación u Oposición que la Ley prevé, podrá ejercerlos mediante el formato que el Hotel le proporcione para tales efectos (en adelante formato), mismo que podrá solicitar en el domicilio de THE XPERIENCE BY G o través del correo <a href="mailto:privacidad@thexperience.com.mx"><span class="s2">privacidad@thexperience.com.mx</span></a>; éste deberá de ser enviado a la misma dirección de correo, acompañado de los documentos que acrediten la identidad del titular, lo cual podrá cumplir anexando escaneado los siguientes documentos: identificación oficial con fotografía o, en su caso, la representación legal del titular en términos de la legislación común y cualquier otro elemento o documento que facilite la localización de los datos personales.</p>
<p class="p2">Con relación al procedimiento y requisitos para el ejercicio de sus derechos ARCO, le informamos lo siguiente:</p>
<p class="p2">Una vez llenado el formato de derechos A.R.C.O., deberá escanearse y enviarse junto con los documentos que acrediten su identidad, a la dirección de correo electrónico previamente señalada; el departamento de datos personales dará trámite a las solicitudes de los titulares para el ejercicio de los derechos A.R.C.O. en un plazo no mayor a 20 (veinte) días hábiles contados a partir de su recepción. Es importante mencionar que el ejercicio de cualquiera de los derechos A.R.C.O. no es requisito previo ni impide el ejercicio de otro derecho.</p>
<p class="p2">La respuesta a las solicitudes que cumplan con los requisitos antes mencionados podrá ser notificada al titular o su representante legal vía correo electrónico (cuando se proporcione la dirección de correo electrónico) o por medio de mensajería; asimismo, se encontrará disponible en el domicilio de THE XPERIENCE BY G, previa acreditación de identidad por cualquiera de los medios señalados anteriormente.</p>
<p class="p2">Así también, le informamos que usted tiene derecho a iniciar un Procedimiento de Protección de Derechos ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales “INAI” (http:// www.inai.org.mx) dentro de los 15 (quince) días hábiles siguientes a la fecha en que reciba la respuesta de THE XPERIENCE BY G, o en caso de no recibir respuesta, a partir de que concluya el plazo de 20 (veinte) días hábiles contados a partir de la fecha de recepción de su solicitud de ejercicio de derechos.</p>
<p class="p5">Para mayor información sobre el procedimiento, ponemos a disposición los siguientes medios de contacto para dar trámite a las solicitudes de derechos A.R.C.O.:</p>
<ul class="ul1">
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Responsable: Área corporativa.</li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Línea telefónica: 33 3121 2647, extensión 1007</li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Correo electrónico: privacidad@thexperience.com.mx</li>
</ul>
<p class="p4"><br></p>
<p class="p5"><span class="s1"><b>REVOCACIÓN DEL CONSENTIMIENTO</b></span></p>
<p class="p2">Usted o su representante legal debidamente acreditado podrá, en cualquier momento, oponerse al uso o divulgación de sus datos personales para las finalidades que no sean indispensables para la relación jurídica-comercial; misma que dio origen al servicio que hubiese contratado o solicitado, Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>
<p class="p2">En caso de que el presente aviso no presente la opción de otorgar su consentimiento para alguna de las finalidades expuestas, y éstas no representen una finalidad esencial para mantener la relación jurídico-comercial, usted podrá oponerse a través del formato que <b>THE XPERIENCE BY G</b> ponga a su disposición para tales efectos, mismo que se sustanciará conforme al procedimiento para el ejercicio de los derechos A.R.C.O., el cual se detalla en este Aviso de Privacidad.</p>
<p class="p5">Con relación al procedimiento y requisitos para la revocación de su consentimiento, le informamos lo siguiente:</p>
<ol class="ol2">
  <li class="li2"><b>a)<span class="Apple-tab-span">	</span>¿A través de qué medios pueden acreditar su identidad el titular y, en su caso, su representante, así como la personalidad este último?</b></li>
</ol>
<p class="p2"><b>Titular:</b> Identificación Oficial Vigente y;</p>
<p class="p2"><b>Representante legal:</b> Acta constitutiva y/o Poder e Identificación Oficial vigente.</p>
<p class="p6"><br></p>
<ol class="ol2">
  <li class="li2"><b>b)<span class="Apple-tab-span">	</span>¿Qué información y/o documentación deberá contener la solicitud?</b></li>
</ol>
<p class="p5">Nombre, domicilio, correo electrónico, identificación, tipo de derecho a ejercer, descripción de los derechos que busca ejercer, motivos.</p>
<ol class="ol2">
  <li class="li2"><b>c)<span class="Apple-tab-span">	</span>¿En cuántos días le daremos respuesta a su solicitud?</b></li>
</ol>
<p class="p5">20 veinte días hábiles</p>
<ol class="ol2">
  <li class="li2"><b>d)<span class="Apple-tab-span">	</span>¿Por qué medio le comunicaremos la respuesta a su solicitud?</b></li>
</ol>
<p class="p5">Correo electrónico o servicio de mensajería a su domicilio.</p>
<p class="p5">Para mayor información sobre el procedimiento, ponemos a disposición los siguientes medios:</p>
<ul class="ul1">
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Responsable: Área corporativa.</li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Línea telefónica: 33 3121 2647, extensión 1007</li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span>Correo electrónico: privacidad@thexperience.com.mx</li>
</ul>
<p class="p5">Asimismo, mediante el procedimiento del ejercicio de derechos A.R.C.O., usted podrá limitar el uso y divulgación de su información personal.<span class="Apple-converted-space"> </span></p>
<p class="p4"><span class="s1"><b></b></span><br></p>
<p class="p5"><span class="s1"><b>TECNOLOGÍAS DE RASTREO EN PORTALES ELECTRÓNICOS</b></span></p>
<p class="p2">Le informamos que en nuestra página de internet podrá utilizar cookies, web beacons u otras tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los utilizaremos para los siguientes fines:</p>
<ul class="ul1">
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Mercadotecnia, publicidad y prospección comercial.</li>
</ul>
<p class="p14"><br></p>
<ul class="ul1">
  <li class="li2"><span class="s3"><span class="Apple-tab-span">	</span></span><b>“Cookies”:</b></li>
</ul>
<p class="p15">Se define como un fragmento de información de programación contenida en un archivo de texto que se guarda en su navegador de Internet o en otros lugares de su disco duro. Usted puede administrar la aceptación de éstas directamente en las preferencias de su navegador, tomando en cuenta que, si decide bloquearlas, es posible que no pueda tener acceso al contenido de nuestros sitios.</p>
<p class="p15"><b>THE XPERIENCE BY G</b>, podrá utilizar cookies para distinguir su navegador de otros en nuestras plataformas digitales, así como para recopilar estadísticas de las mismas.</p>
<p class="p16"><br></p>
<ul class="ul1">
  <li class="li2"><span class="s3"><span class="Apple-tab-span">	</span></span><b>Web beacons”:</b></li>
</ul>
<p class="p15"><b>THE XPERIENCE BY G</b> podrá utilizar tecnologías de seguimiento tales como “web beacons” para recabar datos sobre sus visitas en nuestros sitios web y demás aplicaciones móviles; similar a las “cookies”, éstas son pequeñas imágenes electrónicas incrustadas en el contenido web o mensajes de correo electrónico, las cuales no se encuentran normalmente visibles para los usuarios y que nos permiten generar contenidos casi personalizados para ofrecerle una mejor experiencia cuando utilice nuestras plataformas digitales.</p>
<p class="p2">Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:</p>
<ul class="ul1">
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Identificadores, nombre de usuario y contraseñas de una sesión.</li>
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Idioma preferido por el usuario.</li>
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Región en la que se encuentra el usuario.</li>
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Páginas web visitadas por un usuario.</li>
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Búsquedas realizadas por un usuario.</li>
  <li class="li5"><span class="s3"><span class="Apple-tab-span">	</span></span>Publicidad revisada por un usuario.</li>
</ul>
<p class="p5">Para desactivar las tecnologías de rastreo podrá seguir los siguientes procedimientos:</p>
<ul class="ul1">
  <li class="li17"><span class="s3"><span class="Apple-tab-span">	</span></span><b>GOOGLE CHROME</b></li>
</ul>
<p class="p5">Realice las siguientes configuraciones en su navegador:</p>
<ol class="ol3">
  <li class="li2"><b>1.<span class="Apple-tab-span">	</span></b>Haz clic en el ícono de menú de Chrome.</li>
  <li class="li2"><b>2.<span class="Apple-tab-span">	</span></b>Selecciona Configuración.</li>
  <li class="li2"><b>3.<span class="Apple-tab-span">	</span></b>Opciones avanzadas.</li>
  <li class="li2"><b>4.<span class="Apple-tab-span">	</span></b>En la sección "Privacidad", haz clic en Configuración de contenido.</li>
  <li class="li2"><b>5.<span class="Apple-tab-span">	</span></b>¿Cómo habilitar o inhabilitar cookies?:</li>
</ol>
<p class="p18">• Para habilitar cookies, selecciona Permitir que se almacenen datos locales (recomendado).</p>
<p class="p18">• Para inhabilitar cookies, selecciona Bloquear los datos de sitios y las cookies de terceros.</p>
<ol class="ol3">
  <li class="li2"><b>6.<span class="Apple-tab-span">	</span></b>Haz clic en Listo para guardar los ajustes.</li>
</ol>
<p class="p2">Si su navegador es distinto al señalado en el presente Aviso de Privacidad, usted podrá contactar al responsable de sus datos personales, a fin de que le brinde asistencia técnica para deshabilitar dichas tecnologías, poniendo para tales efectos los siguientes medios de contacto:</p>
<ul class="ul1">
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span><b>Responsable: Área corporativa.</b></li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span><b>Línea telefónica: 33 3121 2647, extensión 1007</b></li>
  <li class="li5"><span class="s4">•<span class="Apple-tab-span">	</span></span><b>Correo electrónico: privacidad@thexperience.com.mx</b></li>
</ul>
<p class="p3"><br></p>
<p class="p4"><span class="s1"><b></b></span><br></p>
<p class="p5"><span class="s1"><b>MODIFICACIONES AL AVISO DE PRIVACIDAD:</b></span></p>
<p class="p15">El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales, de necesidades propias del Hotel, por los productos o servicios que ofrecemos, de nuestras prácticas de privacidad, de cambios en nuestro modelo de negocio, o por otras causas.</p>
<p class="p19">Cualquier modificación al presente aviso de privacidad le será notificada a través de cualquiera de los siguientes medios: <b>(I)</b> un comunicado por escrito enviado a su domicilio o entregado en el domicilio de <b>THE XPERIENCE BY G</b>; <b>(II)</b> un mensaje contenido en su estado de cuenta; <b>(III)</b> un mensaje enviado a su correo electrónico o a su teléfono móvil; <b>(IV)</b> un mensaje dado a conocer a través de cualquier medio electrónico que utilice para celebrar operaciones con el Hotel.</p>
<p class="p3"><br></p>
<p class="p20"><b>HOTEL THE XPERICENCE BY G </b>le agradece su preferencia, así como la observancia de las disposiciones anteriores y le desea una cómoda y satisfactoria estancia.</p>
<p class="p21"><br></p>
<p class="p22"><b>ATENTAMENTE</b></p>
<p class="p23"><b></b><br></p>
<p class="p22"><b>THE XPERIENCE BY G</b></p>
<p class="p4"><br></p>
<p class="p12">Última actualización: 05/febrero/2021</p>
</ion-content>
