<ion-content>
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <img src="../../assets/images/logoquickfit.png" alt="logoquickfit">
    </div>
  </div>
  <div class="content_banner">
    
    <img src="../../assets/images/difuminado.png" alt="difuminado">
    <img src="../../assets/images/reservacionquickfit.png" alt="reservacionquickfit">
  </div>
  <div class="content_textos">
    <p class="titulo">QUICK & FIT</p>
    <p class="descripcion">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <!-- <div class="content_botones">
      <ion-button color="transparent" class="btn1">book now</ion-button>
    </div> -->
  </div>
</ion-content>
