<!-- <ion-header>
  <ion-toolbar>
    <ion-title>crearperfil</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="bg">
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div >Crear Perfil</div>
    </div>
  </div>
  <div>
    <form action="" id="formulario">
      <ion-input placeholder="Primer Nombre" class="input1"></ion-input>
      <ion-input placeholder="Apellido" class="input1"></ion-input>
      <ion-input placeholder="Correo Electrónico" class="input1"></ion-input>
      <ion-select class="select1" placeholder="Selecciona pais o región" value="+52">
        <ion-select-option value="+52">Mexico</ion-select-option>
      </ion-select>
      <div style="display: flex;">
        <ion-select class="select1" value="+52">
          <ion-select-option value="+52">+52</ion-select-option>
        </ion-select>
        <ion-input placeholder="Télefono Celular" class="input1"></ion-input>
      </div>
      
      <div class="content_enlaces">
        <ion-router-link href="#" class="link1 underline" (click)="cancelar()">Estoy de acuerdo con terminos y condiciones</ion-router-link>
        <ion-toggle slot="end" name="kiwi" color="success" mode="ios"></ion-toggle>
      </div>
      <div class="content_botones">
        <ion-button color="transparent" class="btn1" (click)="siguiente()">Enviar</ion-button>
      </div>
    </form>
  </div>
  <div class="bg_llamanos" [class]="className">
    <div class="content_llamanos">
      <!-- <div> 
        <div class="txt1">llamanos</div>
        <div class="txt2">33-31212647</div>
      </div> -->
      <p>
        <!-- <h1>TERMINOS Y CONDICIONES</h1> -->
        Esto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condiciones
        Esto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condiciones
        Esto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condicionesEsto es un parrafo de pruebas para terminos y condiciones
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="transparent" class="btn2" expand="full" (click)="cancelar()">cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="transparent" class="btn1" expand="full" (click)="cancelar()">Aceptar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

