<ion-content>
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div style="color: white;">MY XPERIENCE</div>
    </div>
  </div>
  <div class="content_banner">
    <img src="../../assets/images/bannerdatosreservacion.jpg" alt="fondo">
    <div class="descripcion1">Xperience Mazatlán  - {{ orderObj.fechacheckin | date:'fullDate'}} - {{ orderObj.fechacheckout | date:'fullDate' }}</div>
    <img src="../../assets/images/enjoyxperience.png" alt="enjoyxperience">
    <div class="content_llegadasalida">
      <div class="subcontent_llegadasalida">
        <div class="llegada">Llegada</div>
        <div class="texto_llegada">{{ orderObj.fechacheckin | date:'fullDate'}}</div>
        <div class="hora">14:00</div>
      </div>
      <div class="separador"></div>
      <div class="subcontent_llegadasalida">
        <div class="llegada">Salida</div>
        <div class="texto_llegada">{{ orderObj.fechacheckout | date:'fullDate' }}</div>
        <div class="hora">11:00</div>
      </div>
    </div>
  </div>
  <div class="contentdatosreservaciontxt">
    <div class="titulo">dato de reservación</div>
    <div class="content_habitacion">
      <div class="nombrehabitacion">
        <div class="habitaciontxt">Categoria</div>
        <div class="habitaciondesc">Happy Nest - Double Room</div>
      </div>
      <div class="numerohabitacion">
        <div class="habitaciontxt">Numero</div>
        <div class="habitaciondesc">12</div>
      </div>
      <div class="ubicacionhabitacion">
        <div class="habitaciontxt">Planta</div>
        <div class="habitaciondesc">Planta Baja</div>
      </div>
      <!-- <div class="content_confirmacion first">
        <div class="habitaciontxt">Reservación</div>
        <div class="desc">HM9ZT9RNTM</div>
      </div> -->
      <div class="content_confirmacion last" (click)="politicascancelacion()">
        <div class="habitaciontxt">Politicas de Cancelación</div>
        <div class="desc link1" >Leer más</div>
        <ion-icon name="chevron-forward-outline" class="flechaderecha"></ion-icon>
      </div>
    </div>
  </div>
  <div class="content_busqueda">
    <div class="content_habitacion">
      <div class="content_servicios">
        <div class="content_img_txt">
          <img src="../../assets/images/ap.png" alt="wifi" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Super Wifi Gratis</div>
          </div>
        </div>
        <div class="content_img_txt">
          <img src="../../assets/images/avion.png" alt="avion" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Traslado</div>
            <div class="texto_serv2">Aeropuerto - Hotel Xperience</div>
          </div>
        </div>
      </div>
      <div class="content_servicios">
        <div class="content_img_txt">
          <img src="../../assets/images/bata.png" alt="bata" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Batas de baño de máximo confort</div>
          </div>
        </div>
        <div class="content_img_txt">
          <img src="../../assets/images/caja.png" alt="caja" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Caja fuerte con llave digital</div>
          </div>
        </div>
      </div>
      <div class="content_servicios">
        <div class="content_img_txt">
          <img src="../../assets/images/pool.png" alt="pool" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Acceso a Piscinas</div>
          </div>
        </div>
        <div class="content_img_txt">
          <img src="../../assets/images/aire.png" alt="aire" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Sistema de Aire Acondicionado</div>
          </div>
        </div>
      </div>
      <div class="content_servicios">
        <div class="content_img_txt">
          <img src="../../assets/images/flor.png" alt="flor" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Sky Bar Xlite</div>
            <div class="texto_serv2">Rooftop con vista al mar.</div>
          </div>
        </div>
        <div class="content_img_txt">
          <img src="../../assets/images/cel.png" alt="cel" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Registro Digital</div>
            <div class="texto_serv2">Checkin - Checkout.</div>
          </div>
        </div>
      </div>
      <div class="content_servicios">
        <div class="content_img_txt">
          <img src="../../assets/images/tv.png" alt="tv" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Pantalla SmartTV</div>
          </div>
        </div>
        <div class="content_img_txt">
          <img src="../../assets/images/elevador.png" alt="elevador" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Elevador</div>
          </div>
        </div>
      </div>
      <div class="content_servicios">
        <div class="content_img_txt">
          <img src="../../assets/images/comida.png" alt="comida" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Acceso a:</div>
            <div class="texto_serv2">Restaurante: Quick & Fit Cafeteria Comite Xlite</div>
          </div>
        </div>
        <div class="content_img_txt">
          <img src="../../assets/images/bambo.png" alt="bambo" class="icono_servicio">
          <div class="content_textos">
            <div class="texto_serv1">Blancos con fibras naturales de bambú</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentdatosreservaciontxt">
    <div class="titulo">información de pago</div>
    <div class="content_habitacion">
      <div class="content_confirmacion first noborder">
        <div class="habitaciontxt">Costo total</div>
        <div class="desc">$3206.36 MXN</div>
      </div>
      <div class="content_confirmacion first">
        <div class="content_part1">
          <div class="habitaciontxt">Es un viaje de negocios</div>
          <div class="desc">Tu empresa y sus socios de viaje tendrán 
            acceso a los detalles de tu viaje
          </div>
        </div>
        <ion-toggle slot="end" name="negocios" color="success" mode="ios" style="position: absolute;right: 0;top: 15px;"></ion-toggle>
      </div>
      <!-- <div class="content_confirmacion first noborder">
        <div class="content_part1">
          <ion-icon name="add-outline"></ion-icon>  
          <div class="desc" style="width: 180px;padding-left: 10px;">Agregar información del 
            presupuesto de tu viaje
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" class="flechaderecha"></ion-icon>
      </div> -->
      <div class="content_confirmacion first">
        <div class="content_part1">
          <ion-icon name="document-text-outline"></ion-icon>
          <div class="desc" style="padding-left: 10px;">Obtener Itinerario</div>
        </div>
        <ion-icon name="chevron-forward-outline" class="flechaderecha"></ion-icon>
      </div>
      <div class="content_confirmacion first">
        <div class="content_part1">
          <ion-icon name="document-text-outline"></ion-icon>
          <div class="desc" style="padding-left: 10px;">Facturar</div>
        </div>
        <ion-icon name="chevron-forward-outline" class="flechaderecha"></ion-icon>
      </div>
    </div>
    <div class="content_confirmacion first"></div>
    <div class="titulo" style="margin-bottom: 20px;">Asistencia</div>
    <div class="content_confirmacion">
      <ion-icon name="call-outline" style="vertical-align: middle;padding-right: 10px;"></ion-icon>
      <div class="content_part1" style="vertical-align: middle;">
        <div class="habitaciontxt">Llamar 800 345 8877</div>
        <div class="desc">Asistencia telefónica disponible 24hrs/7 días</div>
      </div>
      <ion-icon name="chevron-forward-outline" class="flechaderecha"></ion-icon>
    </div>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" id="formulario">
      <div class="content_form">
        <div class="tituloservicios">
          DETALLES DEL HUÉSPED
        </div>
        <div>
          <ion-input placeholder="NOMBRE(S)" type="text" class="input1" formControlName="nombre"></ion-input>
          <ion-input placeholder="APELLIDO(S)" type="text" class="input1" formControlName="apellido"></ion-input>
          <div>
            <ion-select value="1" class="bandera">
              <ion-select-option value="1">M</ion-select-option>
            </ion-select>
            <ion-input placeholder="CELULAR" type="tel" class="input1 inputcel" formControlName="celular"></ion-input>
          </div>
          <ion-input placeholder="CORREO@DOMINIO.COM" type="email" class="input1" formControlName="correo"></ion-input>
          <ion-item class="item_conent">
            <ion-label class="labelpais">País/Región</ion-label>
            <ion-select value="1" class="pais">
              <ion-select-option value="1">México</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <!-- Error messages -->
        <!-- <span class="error" *ngIf="isSubmitted && (errorControl.correo.errors?.required || errorControl.correo.errors?.pattern)">
          * Campo Correo requerido con formato correo@dominio.dominio
        </span> -->
      </div>
      <ion-button class="btn6" expand="full" type="subtmit">Book</ion-button>
    </form>
    <div class="content_form">
      <div class="tituloservicios">
        TERMINOS Y CONDICIONES
      </div>
      <div class="content_termino">
        <div class="terminositem">
          <ion-checkbox color="dark" checked slot="start" class="checkboxterminos"></ion-checkbox>
          <ion-label class="labelterminos">ya he leído y acepto los <span class="link1">Términos y Condiciones</span></ion-label>
        </div>
      </div>
      <div class="content_termino">
        <div class="terminositem">
          <ion-checkbox color="dark" checked slot="start" class="checkboxterminos"></ion-checkbox>
          <ion-label class="labelterminos">Ya he leído y acepto los ya he leído y acepto los ya he leído y acepto los ya he leído y 
            acepto los ya he leído y acepto los ya he leído y acepto los ya he leído y acepto los 
          </ion-label>
        </div>
      </div>
    </div>
    <div class="regresar link1">Regresar al principio</div>
    <p class="descripcion2">
      Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum
      Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum
      Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum
      Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum
      Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum
      Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum Lorem Impsum
    </p>
    <img src="../../assets/images/logomenunegro.png" alt="logomenunegro" class="logonegro">
  </div>
</ion-content>
