<ion-content>
  <div class="bg">
    <img src="../../assets/images/flechaatras.png" alt="flechaatras" class="flechaatras" (click)="atras()">
    <img src="../../assets/images/fondomenu.png" alt="fondomenu" class="fondomenu">
    <img src="../../assets/images/logonuevoblanco.png" alt="logonuevoblanco" class="logonuevoblanco">
    <img src="../../assets/images/enjoyxperience.png" alt="enjoyxperience" class="enjoyxperience">
    <div class="content_menus">
      <ion-button color="transparent" class="links2" (click)="avisoprivacidad()">
        <div class="linkmenu">Aviso de Privacidad</div>
        <img src="../../assets/images/flechaderecha.png" alt="flechaderecha" class="iconos">
      </ion-button>
      <!-- <ion-button color="transparent" class="links2" (click)="politicas()">
        <div class="linkmenu">Políticas de Cancelación</div>
        <img src="../../assets/images/flechaderecha.png" alt="flechaderecha" class="iconos">
      </ion-button> -->
      <ion-button color="transparent" class="links2" (click)="terminos()">
        <div class="linkmenu">Términos y Condiciones</div>
        <img src="../../assets/images/flechaderecha.png" alt="flechaderecha" class="iconos">
      </ion-button>
      <ion-button color="transparent" class="links2" (click)="iniciarsesion()">
        <div class="linkmenu">Iniciar Sesión</div>
        <img src="../../assets/images/flechaderecha.png" alt="flechaderecha" class="iconos">
      </ion-button>
    </div>
  </div>
</ion-content>
<div class="content_menu">
  <ion-button color="transparent" class="btn" (click)="inicio()">
    <div>
      <img src="../../assets/images/hogar-01.svg" alt="inicio">
      <br>
      <ion-label>INICIO</ion-label>
      <div class="circulo2"></div>
    </div>
  </ion-button> 
  <ion-button color="transparent" class="btn" (click)="xperience()">
    <div>
      <img src="../../assets/images/LOGO XP_Mesa de trabajo 1.svg" alt="hogar">
      <br>
      <ion-label>CONCIERGE</ion-label> <br>
      <div class="circulo2" [class]="circuloxperience"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" class="btn" (click)="contacto()">
    <div>
      <img src="../../assets/images/wine.png" alt="hogar">
      <br>
      <ion-label>SEREIA BY G</ion-label>
      <div class="circulo2" [class]="circulocontacto"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" class="btn" (click)="perfil()">
    <div>
      <img src="../../assets/images/food.png" alt="hogar">
      <br>
      <ion-label>QUICK & FIT</ion-label>
      <div class="circulo2" [class]="circuloperfil"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" class="btn" (click)="menu()">
    <div>
      <img src="../../assets/images/menu.png" alt="menu" >
      <br>
      <ion-label>MENU</ion-label>
      <div class="circulo"></div>
    </div>
  </ion-button>
</div>
