<ion-content>
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div style="color: white;">POLÍTICAS DE CANCELACIÓN</div>
    </div>
  </div>
  <div class="content_banner">
    <div class="titulo">Flexible</div>
    <ul class="caracteristicas">
      <li>
        Cancelación gratuita hasta 48 horas antes de la
        llegada (la hora aparece indicada en el correo
        electrónico de confirmación).
      </li>
      <li>
        Pasado ese plazo, te enviaremos un reembolso 
        completo menos el importe de la primera 
        noche y la comisión de servicio si cancelas
        antes de la llegada.
      </li>
    </ul>
    <ion-row class="content_semaforos">
      <ion-col class="nopadding">
        <div class="semaforoverde">
          <div class="contentmsj">
            48 hrs antes
            <div class="abajo"></div>
          </div>
          <div class="liston1"></div>
        </div>
      </ion-col>
      <ion-col col-6 class="nopadding">
        <div class="semaforoverde">
          <div class="contentmsj">
            Llegada
            <div class="abajo"></div>
          </div>
          <div class="liston2"></div>
        </div>
      </ion-col>
      <ion-col class="nopadding">
        <div class="semaforoverde">
          <div class="contentmsj">
            Salida
            <div class="abajo"></div>
          </div>
          <div class="liston3"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="content_semaforo">
        <div class="semaforoverde">
          
          <p class="descripcion">
            Para obtener un reembolso completo, la cancelación debe realizarse al menos 48 horas antes de la hora local de 
            llegada del anuncio (que viene indicada en el correo electrónico de confirmación).
          </p>
        </div>
      </ion-col>
      <ion-col col-6 class="content_semaforo">
        <div class="semaforoverde">
          <p class="descripcion">
            Si el huésped cancela con menos de 48 horas de antelación, 
            no se le reembolsará el importe de la primera noche ni la comisión de servicio The Xperience by g.
          </p>
        </div>
      </ion-col>
      <ion-col class="content_semaforo noborder">
        <div class="semaforoverde">
          <p class="descripcion">
            Si el huésped llega y decide dejar su alojamiento antes de tiempo, 
            se le reembolsará íntegramente el precio por noche para las noches no disfrutadas 24 horas después de la cancelación.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
