<ion-content>
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div style="color: white;">POLÍTICAS DE CANCELACIÓN</div>
    </div>
  </div>
  <div class="content_banner">
    <div class="titulo">Flexible</div>
    <ul class="caracteristicas">
      <li>
        Cancelación gratuita hasta 48 horas antes de la
        llegada (la hora aparece indicada en el correo
        electrónico de confirmación).
      </li>
      <li>
        Pasado ese plazo, te enviaremos un reembolso 
        completo menos el importe de la primera 
        noche y la comisión de servicio si cancelas
        antes de la llegada.
      </li>
    </ul>
  </div>
</ion-content>
