.header{width: 100%;height: 112px;background-color: black;}
.content_header{padding-top: 45px;text-align: center;font-family: montserratBold;font-size: 15px;text-transform: uppercase;position: relative;letter-spacing: 1px;}
.arrow-left{display: block;position: absolute;left: 23px;bottom: 0px;}
.bg{--ion-background-color:#fff;}
#formulario{width: 82%;margin: auto;margin-top: 40px;}
.content_botones{width: 197px;margin: 22px auto 0;text-align: center;}
.center_content{margin: 0;color: black; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; text-align: center; font-size: 20px; font-family: montserratMedium;}
.input1{background-color: white;color: #cccccc; width: 100%; height: 250px; color: black; border: 1px solid #e6e6e6;margin-bottom: 8px;--padding-start:10px}
ion-button{border-radius: 5px;}
ion-button ion-label{text-transform: uppercase;font-size: 7px;font-family: montserratBold;box-sizing: border-box;}
.btn1:first-child{margin-bottom: 20px;background-color: black;text-transform: uppercase;font-family: montserratBold;font-size: 12px;letter-spacing: 2px;}
.btn1,.btn2{height: 47px;}
.btn2{color: black;border:1px solid black;}
.content_enlaces{text-align: center;margin-top: 42px;}
.link1{font-size: 18px;font-family: montserratMedium;color:black}
.underline{text-decoration: underline;}
.bg_llamanos{background: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0; z-index: 2; }
.content_llamanos{background: white; width: 85%; margin: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center; color: black;padding: 20px 36px;border-radius: 5px;font-size: 17px;text-transform: uppercase;}
.txt1{font-family: montserratBold;letter-spacing: 1px;margin-bottom: 10px;}
.txt2{font-family: montserratRegular;margin-bottom: 5px;}
.color1{color: white;text-decoration: none;}
.quitar{display: none;}
.error{margin-bottom: 10px;display: inline-block;}
