<ion-content class="content_room">
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div style="color: white;">CONCIERGE DIGITAL</div>
    </div>
  </div>
  <div class="content_control">
    <img src="../../assets/images/nomolestar.png" alt="nomolestar">
    <div class="content_textos">
      <div class="titulo">NO MOLESTAR</div>
      <p class="descripcion">Entendemos que no querrás ser interrumpido durante tu estancia.</p>
    </div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchNoMolestar}} (ionChange)="noMolestar($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/valetparking.png" alt="valetparking">
    <div class="content_textos">
      <div class="titulo">VALET PARKING</div>
      <p class="descripcion">Solicitar tu auto.</p>
    </div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchValet}} (ionChange)="valet($event)"></ion-toggle>
  </div>
  <p class="titulo2">servicios a la Habitación</p>
  <div class="content_control">
    <img src="../../assets/images/toallas.png" alt="toallas">
    <div class="content_textos">
      <div class="titulo">Toallas Extra</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchToallas}} (ionChange)="toallas($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/limpieza.png" alt="toallas">
    <div class="content_textos">
      <div class="titulo">Limpieza</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchLimpieza}} (ionChange)="limpieza($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/amenidades.png" alt="amenidades">
    <div class="content_textos">
      <div class="titulo">Amenidades</div>
    </div>
    <div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchAmenidades}} (ionChange)="amenidades($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/botelladeagua.png" alt="botelladeagua">
    <div class="content_textos">
      <div class="titulo">Botella de agua</div>
    </div>
    <div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchAgua}} (ionChange)="agua($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/mantenimiento.png" alt="mantenimiento">
    <div class="content_textos">
      <div class="titulo">Mantenimiento</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchMantenimiento}} (ionChange)="mantenimiento($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/aireacondicionado.png" alt="aireacondicionado">
    <div class="content_textos">
      <div class="titulo">Aire acondicionado</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchAire}} (ionChange)="aire($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/bano.png" alt="bano">
    <div class="content_textos">
      <div class="titulo">Baño</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios" checked={{switchBanio}} (ionChange)="banio($event)"></ion-toggle>
  </div>
  <div class="content_control">
    <img src="../../assets/images/tv.png" alt="tv">
    <div class="content_textos">
      <div class="titulo">Servicio de TV</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <ion-toggle slot="end" color="dark" mode="ios"  checked={{switchTv}} (ionChange)="tv($event)"></ion-toggle>
  </div>
  <!-- <div class="content_control">
    <img src="../../assets/images/otros.png" alt="otro">
    <div class="content_textos">
      <div class="titulo">Otro</div>
    </div>
    <div></div><div></div><div></div><div></div><div></div><div></div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div> -->
  <p class="titulo2">Contáctanos</p>
  <div class="contactanos_content">
    <div class="content_control2" (click)="mensajegerente()">
      <div class="col6">
        <img src="../../assets/images/gerencia.png" alt="gerencia">
        <div class="content_textos2">
          <div class="titulo">Gerencia</div>
        </div>
        <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
      </div>
    </div>
    <div class="content_control2" (click)="mensajerecepcion()">
      <div class="col6">
        <img src="../../assets/images/gerencia.png" alt="recepcion">
        <div class="content_textos2">
          <div class="titulo">Recepción</div>
        </div>
        <ion-icon name="chevron-forward-outline" role="img" class="md hydrated" aria-label="chevron forward outline"></ion-icon>
      </div>
    </div>
  </div>
  
</ion-content>
<div class="content_menu">
  <ion-button color="transparent" class="btn" (click)="iniciologueado()">
    <div>
      <img src="../../assets/images/hogar-01.svg" alt="inicio">
      <br>
      <ion-label>INICIO</ion-label>
      <div class="circulo2"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" (click)="menuconcierge()" class="btn">
    <div>
      <img src="../../assets/images/LOGO XP_Mesa de trabajo 1.svg" alt="hogar">
      <br>
      <ion-label>CONCIERGE</ion-label> <br>
      <div class="circulo" [class]="circuloxperience"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" (click)="menusereia()" class="btn">
    <div>
      <img src="../../assets/images/wine.png" alt="hogar">
      <br>
      <ion-label>SEREIA BY G</ion-label>
      <div class="circulo2" [class]="circulocontacto"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" (click)="menuquickfit()" class="btn">
    <div>
      <img src="../../assets/images/food.png" alt="food">
      <br>
      <ion-label>QUICK & FIT</ion-label>
      <div class="circulo2" [class]="circuloperfil"></div>
    </div>
  </ion-button>
  <ion-button color="transparent" class="btn" (click)="menu()">
    <div>
      <img src="../../assets/images/menu.png" alt="menu">
      <br>
      <ion-label>MENU</ion-label>
      <div class="circulo2"></div>
    </div>
  </ion-button>
</div>