.tamanoImagen ion-slides{
    height: calc(100vh - 64px);
}
.swiper-slide img{
    width: 100% !important;
    object-fit: unset !important;
}
ion-slides {
    --bullet-background: #999999;
    --bullet-background-active: white;
 }
 