<!-- <ion-header>
  <ion-toolbar>
    <ion-title>iniciarsesionreservacion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg">
  <div class="header">
    <div class="content_header">
      <img src="../../assets/images/arrow.png" alt="arrow" class="arrow-left" (click)="atras()">
      <div >Iniciar Sesión</div>
    </div>
  </div>
  <div class="divcenter">
    <div class="center_content">
      ¿Cuentas con una reservación?
      <div class="content_botones">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="transparent" class="btn1" expand="full" (click)="si()">Si</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="transparent" class="btn2" expand="full">No</ion-button> 
              <!-- <ion-button color="transparent" class="btn2" expand="full" (click)="no()">No</ion-button> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
