#content_registro{
    background: url(../../assets/images/fondoregistro.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 20px;
    background-size: 100%;
    padding-bottom: 144px;
    min-height: 768px;
    height: 100vh;
}
.fondo{
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;width: 100%;
    z-index: 0;
}
.arrow-left{display: block;margin-left: 23px;}
.logoregistro{display: block;margin: auto;margin-top: 70px;}
.content_texto_intro{font-family: montserratRegular; letter-spacing: 2px; font-size: 18px; color: white;display: block;margin:35px auto;width: 90%;max-width: 270px;text-align: center;letter-spacing: 1px;}
.content_botones_registro{max-width: 316px;margin: auto;border-radius: 5px;padding:2px 4px;}
.col2btn{width: 100%;float: left;text-align: center;display: table;}
.col2btn:last-child{margin-left: 2%;}
.boton_iniciarsesion{background-color: transparent;color: white;font-family: montserratbold;font-size: 8px;height: 25px;border-radius: 2px;vertical-align: middle;display: table-cell; vertical-align: middle;letter-spacing: 1px;}
.selectedbtn{background-color: white;color: black;}
.content_botones{width: 197px;margin: 55px auto 0;text-align: center;}
.input1{background-color: white;color: #000;--padding-start:10px;}
ion-button{border-radius: 5px;}
ion-button ion-label{text-transform: uppercase;font-size: 7px;font-family: montserratBold;box-sizing: border-box;}
.btn1:first-child{margin-bottom: 20px;background-color: black;text-transform: uppercase;font-family: montserratBold;font-size: 12px;letter-spacing: 2px;height: 40px;}
#formulario{margin-top: 47px;margin-bottom: 110px;}
.content_enlaces{
    text-align: center;
}
.link1{font-size: 20px;font-family: montserratRegular;color:white}
.underline{text-decoration: underline;}
.error{color:white;margin-top: 10px;display: inline-block;}
@media screen and (max-width: 375px) {
    #formulario{margin-bottom: 0;}
}
@media screen and (max-width: 736px) {
    #formulario{margin-bottom: 20px;}
}